.Up-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 132, 0, 0.357);
  z-index: 9;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .4s;
}

.Up-button:hover {
  background-color: rgb(255, 132, 0);
}

.Up-button.visible {
  display: flex;
  /* visible class */
}

.Up-button.visible {
  display: none;
  /* hidden class */
}

.up-icon {
  font-size: 4rem;
  color: white;
}