.buttons-container {
    display: flex;
    cursor: pointer;
}

.button-container {
    color: black;
    background-color: #b9b9b9;
    transition: background-color .5s;
}

.buttons-container:hover .button-container {
    background-color: #f4f4f4ee;
}

.button-text {
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}

.detail-icon-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    margin-left: -0.5rem;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .button-text {
        padding: 0.8rem 1.6rem;
        font-size: 1.3rem;
    }

    .detail-icon-container {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 425px) {
    .button-text {
        padding: 0.6rem 1.2rem;
        font-size: 1.1rem;
    }

    .detail-icon-container {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    .button-text {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .detail-icon-container {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.3rem;
    }
}