.circles-wrapper {
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: .2rem solid;
    z-index: -5;
}
@media screen and (max-width:767px) {
    .circles-container {
      display: none;
    }
}