main {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    left: 0;
    top: 20%;
    z-index: -3;
}

.left-container {
    width: 40%;
    flex-shrink: 0;
    overflow: hidden;
}

.right-container {
    width: 60%;
    position: relative;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .left-container {
        display: none;
    }

    .right-container {
        width: 100%;
        margin-left: 0;
    }
}


@media screen and (max-width: 425px) {
    video {
        height: 25vh;
    }

    .left-container {
        height: 25vh;
    }
}