.nav {
    width:auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .nav-items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    background-color: #d8d7d7a3;
    color: black;
    padding: 0.8rem 4rem;
    border-radius: 5rem;
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    background-color: #353535;
    color: white;
    transition: all 0.5s;
}

.about {
    background-color: white;
}

.tutorial {
    color: white;
}

@media screen and (max-width: 1000px) {
    .nav {
        display: none;
    }
}

