.sirreal-info-container {
    width: 100%;
    background-color: white;
    border-radius: 50px 0 0 50px;
    padding: 5rem 0 10rem 5rem;
}

.sirreal-info-container h1 {
    font-size: 7.5rem;
    color: black;
    font-family: "Krona One", sans-serif;
}

.subscribe-container {
    display: flex;
    width: 95%;
    justify-content: end;
    padding-right: 5%;
    margin-bottom: 2rem;
    height: 4rem;
}

.sirreal-info-container ul {
    margin-top: 6rem;
}

.sirreal-info-container ul li {
    color: black;
    list-style-type: none;
    font-size: 1.8rem;
    cursor: pointer;
    font-family: "Jura", sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 425px) {
    .sirreal-info-container h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 350px) {
    .sirreal-info-container h1 {
        font-size: 4.5rem;
    }
}